.text {
  margin-left: 1rem;
  color: navy;
}

.room-name {
  margin-left: .5rem;
  cursor: pointer;
  color: navy
}

.roombutton {
    margin-left: .5rem;
    padding: 0.6rem;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(0, 0, 153);
    color: white;
}

.room {
    background-color: rgba(128, 0, 0, 0.4);
    position: fixed;
    width: 50%;
    top: 0px;
    left: 0px;
    height: 100%;
}

.modal {
  width: 15%;
  height: 15%;
  margin-top: 70%;
  margin-left: 0%;
  z-index: 1;
  position: relative;
  background: rgba(128, 0, 0,0.4);
  padding: 10px;
}

.chat-container {
  position: fixed;
  top: 0;
  left: 280px;;
  width: 80%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

.messages-header {
  padding-left: 10px;
}

.messages-body {
  padding-right: 10px;
  padding-left: 10px;
}

.messages-body .username {
  font-weight: bold;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(178, 37, 46, 0.4);

}

.messages-body .sentAt {
  text-align: right;
  padding-right: 200px;
  padding-left: 10px;
  background-color: rgba(0, 0, 153, 0.4);
}

.messages-body .username .sentAt {
    display: inline-block;
    padding-left: 10px;
    background-color: rgba(0, 0, 153, 0.4);
}

.messages-body .content {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  padding-left: 10px;
}

.message {
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
}

.message-box {
    width: 800px;
}