<div class="room">
    <div>
      <h1 class="text">Bloc Chat</h1>
      <button type="button" class="roombutton" ng-click="home.addRoom()">New Room</button>
    </div>
    <div ng-repeat="room in home.rooms">
        <h3 class="room-name" ng-click="home.setCurrentRoom(room)">{{ room.name }}</h3>
    </div>
</div>

<div class="chat-container">
  <div class="messages-header">
    <h3>{{ home.currentRoom.name }}</h3>
  </div>
  <div class="messages-body" ng-repeat="message in home.messages">
        <div class="username">{{ message.username }}</div>
        <div class="sentAt">{{ message.sentAt | date : "EEE MMM d yyyy h:mm a PST" }}</div>
        <div class="content">{{ message.content }}</div>
    </div>
    <div class="message">
      <input type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="home.newMessage.content">
      <button class="messagebutton" type="button" ng-click="home.sendMessage()">Send message</button>
    </div>
</div>


